.appointementsForm {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 600px;
  padding: 20px;
}

.appointementsForm button {
  font-size: 17px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #287dcc, #00adfd);
  color: white;
}
