.organDonorContainer {
  min-height: 100vh;
  padding-block: 20px;
}

.organDonors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  max-width: 1020px;
  margin-inline: auto;
}
.organDonor {
  width: 90%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
