#nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px;
  background-image: linear-gradient(90deg, #287dcc, #00adfd);
}

.nav_logo > h2 {
  padding-bottom: 10px;
  color: aliceblue;
}

.nav_logo > h2 > span {
  font-size: 2rem;
  color: #09124e;
}

#nav_items {
  display: flex;
  justify-items: auto;
  align-items: center;
}

#nav_items li {
  padding-inline: 10px;
  color: #09124e;
  font-size: 1.2rem;
}

.settingsToggle {
  cursor: pointer;
  color: white;
}
