.appointmentsPage {
  min-height: 100vh;
}

.appointementsForm {
  margin-inline: auto;
  width: 800px;
  padding: 20px;
}

.appointementsForm > button {
  font-size: 17px;
  cursor: pointer;
  background-image: linear-gradient(90deg, #287dcc, #00adfd);
  color: white;
  height: 50px;
  grid-column: 1 / -1;
}

.appointmentsInput {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.appointementsForm .doctors {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 20px 28px;
  height: 450px;
}

.appointementsForm .doctors input {
  height: 28px;
  border: 1px solid black;
  margin-bottom: 30px;
}

.doctorsResults {
  overflow: hidden;
  overflow-y: scroll;
}
.doctorResult {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px black solid;
}

.doctorResult > button {
  margin: 3px;
  margin-left: auto;
  width: 80px;
  height: 40px;
  padding: auto;
}
